<h1>Edit Bottle</h1>
  <form action="/bottles/<%= @bottle.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" name="name" value="<%= @bottle.name %>" placeholder="Name">
    <input type="text" name="grape" value="<%= @bottle.grape %>" placeholder="Grape">
    <input type="text" name="year" value="<%= @bottle.year %>" placeholder="Year">
    <input type="text" name="location" value="<%= @bottle.location %>" placeholder="Location">
    <input type="submit" value="Update">
  </form>
