<h2> Bottles </h2>

  <li><%= @bottle.name %></li>
  <li><%= @bottle.grape %></li>
  <li><%= @bottle.year %></li>
  <li><%= @bottle.location %></li>

<form action="/bottles/<%= @bottle.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet">
</form>
