<h2> Here is your bottle of <%= @bottle.name%> </h2>
<ul>

<h3><em><li><%= @bottle.grape %></li></em></h3>
<h3><em><li><%= @bottle.year %></li></em></h3>
<h3><em><li><%= @bottle.location %></li></em></h3>
</ul>

<form action="/bottles/<%= @bottle.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Drank Bottle">
</form>
