<h2> Here is your bottle of <%= @bottle.name%> </h2>
<ul>

<h3><em><li><%= @bottle.grape %></li></em></h3>
<h3><em><li><%= @bottle.year %></li></em></h3>
<h3><em><li><%= @bottle.location %></li></em></h3>
</ul>

<form action="/bottles/<%= @bottle.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Drank Bottle">
</form>
<br>
<form action="/bottles/<%= @bottle.id %>/edit" method="patch">
  <input type="hidden" name"_method" value="EDIT">
  <input type="submit" value="Edit Bottle">
</form>
